<div class="new-blog-containter">
  <div class="new-blog">
    <form>
  <label for="title">Blog Title:</label><br>
  <input type="text" name="blog-title"><br>
  <textarea id="comment" name="comment"></textarea><br>
  <input type="submit" value="Add Comment">
</form>
  </div>
</div>